/*-------------------------------------------------*/
/*---------------------GENERAL---------------------*/
/*-------------------------------------------------*/

body {	
	font-family: 'Assistant', 
	sans-serif;
}

h1, h2, h3, h4, h5, h5, h6 {
		font-family: 'Assistant', 
		sans-serif;
}

/*----------------------------------------------*/
/*---------------------HOME---------------------*/
/*----------------------------------------------*/



/*----------------------------------*/
/*--------------HEADER--------------*/
/*----------------------------------*/



/*----------------------------------*/
/*--------------SLIDER--------------*/
/*----------------------------------*/


/*-------TEXT-------*/


.slides li h1 {
/*    font-size: 36px;*/
    line-height: 49px;
    margin-bottom: 40px;
    font-weight: 300;
}

.col-md-6 {
    width: 70%;
}



/*-------BUTTON-------*/

.middle {
/*	margin-left: 40%;
*/
	width: 100%;
	text-align: center;
    m/*argin-top: 30%;*/
}

.btn-primary.btn-filled {
	background: none;
    color: #fff;
    border: none;

}

.btn-primary {
    border-radius: 4px;
    display: inline-block;
    padding: 14px 28px 13px 28px;
    line-height: 1;
    border: 2px solid #fff;
	font-family: 'Assistant', 
	sans-serif;
    font-weight: bold;
    font-size: 11px;
    text-transform: uppercase;
    letter-spacing: 1px;
    color: #fff;
    float: right;

}



/*-----------------------------------------------*/
/*--------------PAGE CONTENT MIDDLE--------------*/
/*-----------------------------------------------*/











