/*-------------------------------------------------*/
/*---------------------GENERAL---------------------*/
/*-------------------------------------------------*/

html *
{
    font-family: 'Assistant', sans-serif;
}



h1, h2, h3, h4, h5, h5, h6 {
    font-family: 'Assistant', sans-serif;

}


strong {
    font-weight: 700;
}














/*----------------------------------------------*/
/*---------------------HOME---------------------*/
/*----------------------------------------------*/



/*----------------------------------*/
/*--------------HEADER--------------*/
/*----------------------------------*/


/*contentmargin=header-height*/

element.style {
    margin-top: 122px;
}





/*-------STICKY-------*/

.simple-bar.nav-sticky .logo {
    max-height: 30px;
    bottom: 0px;
}

.top-bar.nav-sticky .nav-menu {
    padding-top: 0px;
}

/*-------LOGO-------*/

.simple-bar .nav-menu {
	padding-top: 0;
}






/*-------LINKS-------*/


.menu {
    padding: 0;
    margin: 0;
    display: inline-block;
    position: relative;
    top: 60px;
}

.simple-bar .menu li {
    margin-left: 55px;
    margin-right: 0px;
}

.menu li a {
    font-family: 'Assistant', sans-serif;
    font-weight: bold;
    font-size: 14px;
    letter-spacing: 0.61px;
    color: #245181;
    line-height: 10px;
}













/*----------------------------------*/
/*--------------SLIDER--------------*/
/*----------------------------------*/


/*-------TEXT-------*/


.hero-slider .slides li h1 {
    font-size: 36px;
    line-height: 49px;
    margin-bottom: 0px;
    font-weight: 300;
    margin-top: 100px;
}

.col-md-6 {
    width: 100%;
}



/*-------BUTTON-------*/

.middle {
    text-align: center;
    height: 100%;
    margin-top: 100px;
}



.btn-primary.btn-filled {
	background: none;
    color: #fff;
    border: none;

}

.btn-primary {
    border-radius: 4px;
    display: inline-block;
    padding: 20px 30px 20px 30px;
    line-height: 1;
    border: 2px solid #fff;
	font-family: 'Assistant', 
	sans-serif;
    font-weight: bold;
    font-size: 14px;
    text-transform: uppercase;
    letter-spacing: 1px;
    color: #fff;
}














/*-----------------------------------------------*/
/*--------------PAGE CONTENT MIDDLE--------------*/
/*-----------------------------------------------*/


.lead {
    font-family: 'Assistant', sans-serif;
    font-size: 18px;
    letter-spacing: 1.3;

}

.blau {
    color: #245181;
}





























/*--------------------------------------*/
/*--------------RESPONSIVE--------------*/
/*--------------------------------------*/




@media all and (max-width: 767px) {

/*----------------------------------*/
/*--------------HEADER--------------*/
/*----------------------------------*/

.simple-bar {
    position: fixed;
}

.simple-bar .logo {
    display: none;
}

.menu {
    padding-left: 0px;
    margin-top: 50px;
    display: inline-block;
    position: relative;
    top: 0px;
}

.simple-bar .text-right {
    text-align: center !important;
}

.simple-bar .menu li {
    margin-left: 0px;
    padding-bottom: 14px;


}

.simple-bar .nav-menu {
    padding-top: 54px;
    -webkit-transition: all .3s ease;
    -moz-transition: all .3s ease;
    transition: all .3s ease;
}


nav .columns {
    width: 100%;
}

/*----------------------------------*/
/*--------------SLIDER--------------*/
/*----------------------------------*/


.middle {
    text-align: left;
    height: 100%;
    margin-top: 30px;
}



.hero-slider .slides li h1 {
    font-size: 28px;
    line-height: 36px;
    margin-bottom: 0px;
    font-weight: 300;
    margin-top: 0 !important;
}

br {
    display: none;
}

}



