/*-------------------------------------------------*/
/*---------------------GENERAL---------------------*/
/*-------------------------------------------------*/

body {	
	font-family: 'Assistant', 
	sans-serif;
}

h1, h2, h3, h4, h5, h5, h6 {
		font-family: 'Assistant', 
		sans-serif;
}

/*----------------------------------------------*/
/*---------------------HOME---------------------*/
/*----------------------------------------------*/



/*----------------------------------*/
/*--------------HEADER--------------*/
/*----------------------------------*/


/*contentmargin=header-height*/

element.style {
    margin-top: 122px;
}


/*-------STICKY-------*/

.simple-bar.nav-sticky .logo {
    max-height: 30px;
    bottom: 0px;
}

.top-bar.nav-sticky .nav-menu {
    padding-top: 0px;
}

/*-------LOGO-------*/

.simple-bar .nav-menu {
	padding-top: 0;
}





/*-------LINKS-------*/


.menu {
    padding: 0;
    margin: 0;
    display: inline-block;
    position: relative;
    top: 60px;
}

.simple-bar .menu li {
    margin-left: 55px;
    margin-right: 0px;
}

.menu li a {
    font-family: "Assistant", "Raleway", "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-weight: bold;
    font-size: 14px;
    text-transform: uppercase;
    letter-spacing: 0.61px;
    color: #245181;
    -webkit-transition: all .5s ease;
    -moz-transition: all .5s ease;
    transition: all .5s ease;
    padding-bottom: 40px;
    display: inline-block;
    line-height: 10px;
}

/*----------------------------------*/
/*--------------SLIDER--------------*/
/*----------------------------------*/


/*-------TEXT-------*/


.slides li h1 {
/*    font-size: 36px;*/
    line-height: 49px;
    margin-bottom: 40px;
    font-weight: 300;
}

.col-md-6 {
    width: 70%;
}



/*-------BUTTON-------*/

.middle {
/*	margin-left: 40%;
*/
	width: 100%;
	text-align: center;
    m/*argin-top: 30%;*/
}

.btn-primary.btn-filled {
	background: none;
    color: #fff;
    border: none;

}

.btn-primary {
    border-radius: 4px;
    display: inline-block;
    padding: 14px 28px 13px 28px;
    line-height: 1;
    border: 2px solid #fff;
	font-family: 'Assistant', 
	sans-serif;
    font-weight: bold;
    font-size: 11px;
    text-transform: uppercase;
    letter-spacing: 1px;
    color: #fff;
    float: right;

}



/*-----------------------------------------------*/
/*--------------PAGE CONTENT MIDDLE--------------*/
/*-----------------------------------------------*/











